@import './reset';
@import './base';

.header {
    background-image: url('https://buivannguyen.com/images/header-bg.png');
    background-size: cover;
    .nav {
        display: flex;
        justify-content: space-between;
        &__logo {
            font-size: 3rem;
            padding: 0 20px;
            align-content: center;
            line-height: 44px;
            cursor: pointer;
        }
        &__list {
            font-size: 0;
        }
        &__item {
            display: inline-block;
            font-size: 1.6rem;
        }
        &__link {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            padding: 14px;
            border-radius: 5px;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}
